@model HarmeetSingh.Models.Person

@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", maxlength = 60 })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Amount, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", maxlength = 18 })
        </div>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
}